@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

input,
button,
textarea,
select,
a {
  font-family: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

%reset-Button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
&::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button{
    border:none;
}

:root {
  --clr-white: #ffffff;
  --clr-white-100: #ffffffde;
  --clr-dark-400: #1c1c1c;
  --clr-dark-300: #262626;
  --clr-dark-200: #303030;
  --clr-dark-100: #3a3a3a;
  --clr-violet-50: #b7baff;
  --clr-violet-100: #767bff;
  --clr-violet-200: #585cbb;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-dark-400);
  color: var(--clr-white);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

main {
  overflow: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-dark-200);
  border-radius: 3rem;
}