
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


input,
button,
textarea,
select, a{
    font-family: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul{
    margin:0;
    padding: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

:root{
    --clr-white: #FFFFFF;
    --clr-white-100: #ffffffde;
    --clr-dark-400: #1C1C1C;
    --clr-dark-300: #262626;
    --clr-dark-200: #303030;
    --clr-dark-100: #3A3A3A;
    --clr-violet: #767BFF;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }

body{
    margin:0;
    padding: 0;
}

body{
    background-color: var(--clr-dark-400);
    color: var(--clr-white);
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

main{
    overflow:hidden ;
    overflow-y: auto;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--clr-dark-200);
    border-radius: 3rem;

}


/* Navbar Section  */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--clr-dark-300);
    padding-inline: 0.625rem;
}

.navTypeface{
    max-height: 60px;
    padding: 0.5rem;
}
.navOptions{
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap:2rem;
    padding-right: 1.5rem;
}

a{
    text-decoration: none;
    color: var(--clr-white-100);
    font-weight: 400;
    font-size: 0.95rem;
    transition: color .2s ease-in-out,
    font-weight .2s ease-in-out;
}

li{
    transition: transform .2s ease-in-out;
}

li:hover{
    transform: scale(1.015);

}
a:hover{
    color: var(--clr-white);
    /* font-weight: 600; */
}

.left{
    font-size: 2.5rem;
}
.firstSection{
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
}
.firstSection >  div{
    width: 20%;
}
.leftSection{
    font-size: 2.5rem;
    padding-top: 150px;
    margin: 40px 0;
}
.leftSection .btn {
    background-color: rgba(250, 5, 185, 0.512);
    color: rgb(18, 1, 1);
    border: 2px solid rgb(251, 247, 247);
    border-radius: 6px;
    padding: 10px;
}
.landingFig{
    max-width: 40vw;
}
.getstart a{  color: white;  text-decoration: none;  padding: 20px;}.btn-r {  background-color: orange;  color: 
    white;} 


